header {
    background-color: black;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 2% 0%;
}

.col-md-3 {
    
    padding: 1% 2% 80% 2%;
    background-color: lightgray;
    

}

label {
    font-weight: bold;
    font-size: 24px;
}

#search {
    color: white;
    background-color: blue;
    padding: 2px 2px;
}